markup_language/2_eval/04 Esquemas y vocabularios en XML/Schema XML/Ejemplos Clase/05bElementosXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona">
  <xs:complexType>
    <xs:choice>
      <xs:element name="empleo" type="xs:string"/>
      <xs:element name="cualificación" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:element> 
</xs:schema>
