markup_language/2_eval/04 Esquemas y vocabularios en XML/DTD/Ejemplos Clase/06Entidadesparametricas.dtd

<!ELEMENT becas (beca*)>
<!ELEMENT beca (alumno, ies)>
<!ENTITY % direccion "calle, ciudad, cp">
<!ELEMENT alumno (dni, %direccion;)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ELEMENT ies (centro, %direccion;)>
<!ELEMENT centro (#PCDATA)>