markup_language/2_eval/04 Esquemas y vocabularios en XML/Schema XML/Ejercicios/Ejercicio06Schema.dtd

<!ELEMENT catalogoLibro (libro)*> 
<!ELEMENT libro (titulo, autor+, fecha, ISBN, editor)> 
<!ATTLIST libro 
    categoria (noficcion | ficcion) #REQUIRED 
    enstock (true | false) "false" 
    revisor CDATA ""> 

<!ELEMENT titulo (#PCDATA)> 
<!ELEMENT autor (#PCDATA)> 
<!ELEMENT fecha (mes?, año)> 
<!ELEMENT ISBN (#PCDATA)> 
<!ELEMENT editor (#PCDATA)> 
<!ELEMENT mes (#PCDATA)> 
<!ELEMENT año (#PCDATA)> 