markup_language/2_eval/04 Esquemas y vocabularios en XML/DTD/Ejercicios/problemasDTD/solu/Ejercicio4DTD.dtd

<!ELEMENT pizzas (ingredientes, tipos)>
   <!ELEMENT ingredientes (ingrediente)*>
      <!ELEMENT ingrediente (#PCDATA)>
         <!ATTLIST ingrediente coding ID #REQUIRED>
   <!ELEMENT tipos (tipo)*>
      <!ELEMENT tipo EMPTY>
         <!ATTLIST tipo nombre CDATA "Sabrosa">
         <!ATTLIST tipo ingredientes IDREFS #REQUIRED>