markup_language/2_eval/04 Esquemas y vocabularios en XML/DTD/Ejercicios/problemasDTD/solu/Ejercicio2DTD.dtd

   <!ELEMENT geometría (forma*)>
   <!ELEMENT forma (nombre, características, numlados)>
   <!ELEMENT nombre (#PCDATA)>
   <!ELEMENT características ((color, tipo) | descripción)>
    <!ELEMENT descripción (#PCDATA)>
   <!ELEMENT color (#PCDATA)>
   <!ELEMENT tipo (#PCDATA)>
  <!ELEMENT numlados (#PCDATA)>