markup_language/HTML5_CSS3/2_eval/04 Esquemas y vocabularios en XML/DTD/Ejemplos Clase/12seccionescondicionales.dtd

<!-- Declaración de elementos comunes -->
<!ELEMENT mensajes (mensaje*)>
<!-- Mensaje largo -->
<![ %largo; [
<!ELEMENT mensaje (titulo, emisor, receptor, contenido, palabras)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT palabras (#PCDATA)>
]]>
<!-- Mensaje corto -->
<![ %corto; [
<!ELEMENT mensaje (emisor, receptor, contenido)>
]]>

<!-- Declaración de elementos comunes -->
<!ELEMENT emisor (#PCDATA)>
<!ELEMENT receptor (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>