markup_language/HTML5_CSS3/2_eval/04 Esquemas y vocabularios en XML/DTD/Ejercicios/Ejercicio7DTD.dtd

<!ENTITY info "NO_INFO">
<!ELEMENT ediciones (cabecera, tabla)>
<!ELEMENT cabecera (titulo, contenido, descripcion)>
  <!ATTLIST cabecera fecha CDATA #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT contenido (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>

<!ELEMENT tabla (region+)>
<!ELEMENT region (trim+)>
  <!ATTLIST region zona (norte | centro | sur) #REQUIRED>
<!ELEMENT trim (#PCDATA)>
    <!ATTLIST trim periodo (1 | 2 | 3| 4) #REQUIRED>