markup_language/HTML5_CSS3/2_eval/schema xml/Ejemplos Clase/03ElementosXSDconREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="bingo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bola"/>
        <xs:element name="nombrePopular" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="bola">
    <xs:complexType>
      <xs:attribute name="numero" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
