markup_language/HTML5_CSS3/2_eval/Schema_18_02/Ejercicio01Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="curso">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="denominacion" type="xs:string"/>
        <xs:element name="numAlumn" type="xs:string"/>
        <xs:element name="fechaIni" type="xs:string"/>
        <xs:element name="online" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
