markup_language/HTML5_CSS3/2_eval/ejemplos_clase/ejercicios_dtd_31_01_22/Ejercicio2DTD.dtd

<!ELEMENT geometría (forma+)>
<!ELEMENT forma (nombre+, características+,numlados?)>
  <!ELEMENT nombre (#PCDATA)>
  <!ELEMENT características (color?, tipo?,descripción?)>
    <!ELEMENT color (#PCDATA)>
    <!ELEMENT tipo (#PCDATA)>
    <!ELEMENT descripción (#PCDATA)>
  <!ELEMENT numlados (#PCDATA)>
<!-- otra alternativa sería   <!ELEMENT características ((color, tipo) | descripción)>
 -->