markup_language/HTML5_CSS3/2_eval/ejecicios/ejercicio_dtd_18_02/Soluiones_DTD/Trabajo2.dtd

<!ELEMENT matricula (personal, pago)+ >
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios) >
<!ELEMENT pago (tipo_matricula) >
<!ELEMENT domicilios (domicilio)+ >
<!ELEMENT dni (#PCDATA) >
<!ELEMENT nombre (#PCDATA) >
<!ELEMENT titulacion (#PCDATA) >
<!ELEMENT curso_academico (#PCDATA) >
<!ELEMENT tipo_matricula (#PCDATA) >
<!ELEMENT domicilio (nombre) >
    <!ATTLIST domicilio tipo (familiar | habitual) #REQUIRED >